<nav>
    <div class="grid-item" id="main"><a href="/">Main</a></div>
    <% if(!currentUser) { %>
    <div class="grid-item"><a href="/login">Login</a></div>
    <div class="grid-item"><a href="/register">Register</a></div>
    <div class="grid-item"><span class="uzivatel">Návštěvník</span></div>
    <% } else { %>
    <div class="grid-item"><a href="/library">Knihovna</a></div>
    <% if(isVyvojar) { %>
    <div class="grid-item"><a href="/add">Přidat hru</a></div>
    <% } %>
    <div class="grid-item"><a href="/logout">Odhlásit se</a></div>
    <div class="grid-item"><span>Přihlášený uživatel: <%=username%></span></div>
        <% if(!isVyvojar) { %>
            <div class="grid-item"><a href="/developerMode">Přepnout do módu vývojáře</a></div>
        <% } else { %>
            <div class="grid-item"><a href="/developerMode">Přepnout do módu uživatele</a></div>
        <% } %>
    <% } %>

</nav>