<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/global.css">
    <title>Detail</title>
</head>
<body>
    <header>
        <%- include('Layouts/header') %>
    </header>

    <div class="container">
        <h1>Nazev hry</h1>
        <p>Detaily</p>
    </div>
    <footer>
        <%- include('Layouts/footer')%>
    </footer>
</body>
</html>