<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/global.css">
    <link rel="stylesheet" href="CSS/games.css">
    <title>Knihovna</title>
</head>
<body>
    <header>
        <%- include('Layouts/header') %>
    </header>

    <div class="container">
        <h1>Library</h1>
        <a href="add.html"><p>Add game</p></a>
        <div class="grid">
            <div class="grid-game"><a href="detail.html">Hra 1</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 2</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 3</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 4</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 5</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 6</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 7</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 8</a><a href="edit.html" class="edit">Edit</a></div>
            <div class="grid-game"><a href="detail.html">Hra 9</a><a href="edit.html" class="edit">Edit</a></div>
        </div>
    </div>
    <footer>
        <%- include('Layouts/footer')%>
    </footer>
</body>
</html>